{% extends "base.html" %}
{% block title %} about{% endblock title %}
{% block body %}
<h2 style="background-color: rgb(230, 190, 190); height: auto;">We are great to see you.</h2>
<div class="conent" style="background-color: beige;">
    <p>We are the best book provider in this city.</p> 
    <br>
    <p>We are realy gratfull to know that you are so curious to know about us.</p>
    <br>
    <p>We always tried to help the consumer like you.</p>
    <br>
    <p>We never let them diappointed cause of us.</p>
</div> 
{% endblock body %} 